* {
    margin:0;
    padding:0;
    /* font-size: 1em; */

}

/* html{
    background-color: rgb(245, 16, 16);
} */

body{
    background-color: rgba(2, 59, 20, 0.87);
    width: 100%;
    margin: auto;
    /* margin-top:1px; */
}

/* button:disabled{
    background-color: rgba(128,128,128,0.5);
} */

/*comienzan los ajustes del contenedor principal de la app*/

#ctn-principal{
    width: 95%;
    margin:auto ;
}

/*ajustes del menu de navegacion div#menu */  

div#menu{
    background-color: rgb(0, 12, 82);
    width: 100%;
    text-align: center;
    /* padding: 5px; */
    margin:auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

div#menu button.btn-menu {
    background-color: rgba(0, 140, 255,0.8);
    width: 100px;
    height: auto;
    font-size: 1.1em;
    /* text-align: center; */
    color:white;
    border:solid 2px white;
    border-radius: 15px;
    /* display: inline-block; */
    /* margin: 5px; */
}

div#menu button.btn-menu:disabled{
    background-color: rgba(128,128,128,0.8);
}

div#menu button.btn-menu:hover{
    background-color: blue;
}

div#menu button.btn-menu:hover[disabled]{
    background-color: rgba(128, 128, 128,0.8);
}
/*ajustes del panel de contadores*/
div#marcadores {
    /* background-color: rgba(194, 231, 107, 0.87); */
    margin: auto;
    margin-bottom:3px;
    /* display:inline-block; */
}


table#counters{
    background-color: rgba(194, 231, 107,0.8);
    color: white;
    width: 100%;
    /* margin: auto; */
    /* border:solid 2px white; */
    border-collapse: collapse;
}
table#counters,td,th{
    border:solid 2px white;
    

}
table#counters td{
    /* border:solid 1px white; */
    color:rgb(0, 17, 255);
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    height: 10px;

}
table#counters th{
    /* border:solid 1px white; */
    color:rgb(148, 77, 6);
    font-size: 0.7em;
    text-align: center;

}

/*ajustes del panel informativo*/
#info {
    background-color: rgba(100, 100, 179, 0.548);
    text-align: center;
    color: white;
}

/*comienzan los ajustes del contenedor de imagenes de frutas*/

#cnt-slots {
    background-color: rgba(17, 22, 75, 0.8);
    margin:auto;
    width: 100%;
    text-align: center;
    /* margin-top:5px; */
    /* margin-bottom: 5px; */
    /* padding:1px; */
}

div#cnt-slots>div.cnt-img>img {
    width: 32%;
    height: auto;
    /* position: absolute; */
    /* margin-top: 10px;     */
}

div.cnt-img {
    width: 33%;
    display: inline ;
    /* text-align: center; */
    position: relative;
    /* margin: 5px; */
    /* left: 20px; */
}

/* #slot1,#slot2,#slot3 {
    width: 32%;
    height: 100%;
    background-color: black;
    display: inline;
} */

/*ajustes del panel de botones de juego de la maquina tragaperras*/

div#panel{
    width: 100%;
    /* height: 100px; */
    background-color: rgb(25, 31, 121);
    text-align: center;
    margin:auto;
    margin-top: 3px;
    margin-bottom: 10px;
    /* padding-left: 20px; */
}

div#panel button.btn-juego {
    background-color: green;
    width: 110px;
    height: 60px;
    font-size: 1em;
    color:white;
    border:solid 2px white;
    border-radius: 15px;
    /* display: inline-block; */
    /* margin:2px; */
}
div#panel button.btn-juego:disabled{
    background-color: rgba(128,128,128,0.8);
}

/*animacion tabla estadisticas*/

@keyframes example {
    /* 0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;} */
    from {opacity: 0;}
    to {opacity: 1;}
  }

/*ajustes de la tabla global de resultados del juego*/

div#historico{
    width: 100%;
    /* text-align: center; */
    /* background-color: rgba(174, 214, 100, 0.87); */
    animation-name: example;
    animation-duration: 4s;
    position: relative;
}

div#historico table tbody tr td.combis img{
    width: 20px;
    height: 20px;
    /* margin: auto; */
}

.estadisticas {
    background-color: rgba(174, 214, 100, 0.87);
    width: 90%;
    margin: auto;
    border: solid 3px white;
    border-collapse: collapse;
}
.estadisticas td{
    color:rgb(0, 17, 255);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    height: 30px;
}
.estadisticas th{
    color:rgb(0, 17, 255);
    font-weight: bold;
    font-size: 0.6em;
    text-align: center;
    height: 30px;
    /* padding: 3px; */
}
.estadisticas caption{
    color:white;
    font-weight: bold;
}
